$primary: #0074d9;
$danger: #ff4136;
$bg-light-color: #f8f8f8;
$bg-dark-color: #f2eeee;
$font-primary: "Klee One", sans-serif;
$border-dark: #c7b7b7;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  background-color: $bg-dark-color; // 背景顏色 
  
  .logo a {
    display: block;
    width: 150px; /* 設置寬度 */
    height: 150px; /* 設置高度 */
    text-indent: 101%; /*首行縮排*/
    overflow: hidden; /*自動隱藏超出的文字或圖片*/
    white-space: nowrap; /*希望元素在第一排上面，沒有斷行*/
    background: url("../images/logo.svg") no-repeat center center;
    background-size: contain; /* 調整圖片大小以適應容器 */
  }
}
